<template>
    <!--Row-->
    <div class="row">
        <div class="col-12">
            <div id="accordion">
                <h4 class="text-muted">Basic Information</h4>

                <hr class="my-3"/>
                <div class="card">
                    <div class="card-header bg-light p-0" id="headingOne">
                        <h5
                            class="mb-0 w-100"
                            style="cursor: pointer"
                            data-toggle="collapse"
                            data-target="#collapseOne"
                            aria-expanded="true"
                            aria-controls="collapseOne"
                        >
                            <button class="btn bg-transparent text-dark">Basic Information</button>
                        </h5>
                    </div>

                    <div
                        id="collapseOne"
                        class="collapse show"
                        aria-labelledby="headingOne"
                        data-parent="#accordion"
                    >
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Code</label>
                                        <input type="text" class="form-control" placeholder="Code" v-model="code"/>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Desc Fr</label>
                                        <input type="text" class="form-control" placeholder="Desc Fr" v-model="descFr"/>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Desc En</label>
                                        <input type="text" class="form-control" placeholder="Desc En" v-model="descEn"/>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Origin URL</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="Origin URL"
                                            v-model="descFr"
                                        />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Langue</label>
                                        <select class="form-control select2" name="langue" v-model="langue">
                                            <option value="en" disabled selected>--Select Langue--</option>
                                            <option value="en">En</option>
                                            <option value="fr">Fr</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Crawling Depth</label>
                                        <select class="form-control select2" name="langue" v-model="crawlingDepth">
                                            <option value="0" disabled selected>--Select Crawling Depth--</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Limiter le nombre de documents</label>
                                        <select class="form-control select2" name="langue" v-model="documentNumber">
                                            <option value="0" disabled selected>--Select Limiter le nombre de
                                                documents--
                                            </option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="500">500</option>
                                            <option value="1000">1000</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Type De Doc</label>
                                        <select class="form-control select2" name="langue" v-model="documentNumber">
                                            <option value disabled>--Select Type De Doc--</option>
                                            <option value="html" selected>html</option>
                                            <option value="pdf">pdf</option>
                                            <option value="xml">xml</option>
                                            <option value="jpeg">jpeg</option>
                                            <option value="png">png</option>
                                            <option value="xls">xls</option>
                                            <option value="csv">csv</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Parent</label>
                                        <select class="form-control select2" name="langue" v-model="documentNumber">
                                            <option value disabled selected>--Select Type De Doc--</option>
                                            <option value="O-36">O-36</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Application</label>
                                        <select class="form-control select2" name="langue" v-model="documentNumber">
                                            <option value disabled selected>--Select Type De Doc--</option>
                                            <option
                                                value="O-36"
                                                v-for="application in applications"
                                                :key="application.id"
                                            >{{ application.name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 class="text-muted">Filter</h4>
                <hr class="my-3"/>
                <div class="card">
                    <div class="card-header bg-light p-0" id="headingTwo">
                        <h5
                            class="mb-0 w-100"
                            style="cursor: pointer"
                            data-toggle="collapse"
                            data-target="#collapseTwo"
                            aria-expanded="false"
                            aria-controls="collapseTwo"
                        >
                            <button class="btn btn-link text-dark collapsed">Filter</button>
                        </h5>
                    </div>
                    <div
                        id="collapseTwo"
                        class="collapse"
                        aria-labelledby="headingTwo"
                        data-parent="#accordion"
                    >
                        <div class="card-body">
                            <div class="form-group">
                                <label for="filter">URL Pas Crawl</label>
                                <textarea id="filter" rows="3" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 class="text-muted">Indexes</h4>
                <hr class="my-3"/>
                <div class="card">
                    <div class="card-header bg-light p-0" id="headingThree">
                        <h5
                            class="mb-0 w-100"
                            style="cursor: pointer"
                            data-toggle="collapse"
                            data-target="#collapseThree"
                            aria-expanded="false"
                            aria-controls="collapseThree"
                        >
                            <button class="btn btn-link text-dark collapsed">Indexes</button>
                        </h5>
                    </div>
                    <div
                        id="collapseThree"
                        class="collapse"
                        aria-labelledby="headingThree"
                        data-parent="#accordion"
                    >
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Fonctions</label>
                                        <select
                                            class="form-control select2"
                                            name="fonction[]"
                                            v-model="fonction"
                                            multiple
                                        >
                                            <option value="en" disabled>--Select Fonctions--</option>
                                            <option value="en">En</option>
                                            <option value="fr">Fr</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Secteurs</label>
                                        <select
                                            class="form-control select2"
                                            name="secteurs"
                                            v-model="secteurs"
                                            multiple
                                        >
                                            <option value="en" disabled>--Select Secteurs--</option>
                                            <option value="en">En</option>
                                            <option value="fr">Fr</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Themes</label>
                                        <select class="form-control select2" name="themes" v-model="themes" multiple>
                                            <option value="en" disabled>--Select Themes--</option>
                                            <option value="en">En</option>
                                            <option value="fr">Fr</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Type de info</label>
                                        <select
                                            class="form-control select2"
                                            name="typedeinfo"
                                            v-model="typeDeInfo"
                                            multiple
                                        >
                                            <option value="en" disabled>--Select Type de info--</option>
                                            <option value="en">En</option>
                                            <option value="fr">Fr</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 class="text-muted">Xml</h4>
                <hr class="my-3"/>
                <div class="card">
                    <div class="card-header bg-light p-0" id="headingFour">
                        <h5
                            class="mb-0 w-100"
                            style="cursor: pointer"
                            data-toggle="collapse"
                            data-target="#collapseFour"
                            aria-expanded="false"
                            aria-controls="collapseFour"
                        >
                            <button class="btn btn-link text-dark collapsed">Xml</button>
                        </h5>
                    </div>
                    <div
                        id="collapseFour"
                        class="collapse"
                        aria-labelledby="headingThree"
                        data-parent="#accordion"
                    >
                        <div class="card-body"></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <button class="btn btn-info" @click="onSave">Enregistrement</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End row-->
</template>

<script>
export default {
    props: ["applications"],
    data() {
        return {
            code: "",
            fonction: []
        };
    },
    methods: {
        onSave() {
            console.log(this.fonction);
        }
    },
    mounted() {
        console.log(this.applications);
    }
};
</script>
