<template>
    <div>
        <el-button @click="addFormVisible = true" type="primary"><i
            class="fa fa-plus"></i> Ajouter un nouvel utilisateur
        </el-button>
        <hr>
        <el-dialog title="Ajouter un nouvel utilisateur" :visible.sync="addFormVisible">
            <el-form :model="addForm" action="'access-rights" ref="addUserForm" method="post">
                <el-form-item label="Nom" :label-width="formLabelWidth">
                    <el-input v-model="addForm.name" autocomplete="off" name="name"></el-input>
                </el-form-item>
                <el-form-item label="Email"
                              :rules="[
                { required: true, message: 'Veuillez entrer l\'adresse e-mail', trigger: 'blur' },
                { type: 'email', message: 'Veuillez entrer une adresse e-mail valide', trigger: ['blur', 'change'] }
                ]" :label-width="formLabelWidth">
                    <el-input v-model="addForm.email" autocomplete="off" name="email"></el-input>
                </el-form-item>
                <el-form-item label="Id d'authentification" label-width="200px" :rules="[
                { required: true, message: 'Veuillez entrer l\'Id d\'authentification', trigger: 'blur' },
                { type: 'number', message: 'Veuillez entrer une entier qui n\'existe pas.', trigger: ['blur', 'change'] }
                ]">
                    <el-input v-model="editForm.sub" autocomplete="off" name="sub"></el-input>
                </el-form-item>
                <el-form-item label="Audience" :label-width="formLabelWidth">
                    <el-input v-model="addForm.audience_id" name="audience_id" autocomplete="off" :rules="[
                { required: true, message: 'Veuillez entrer l\'audience', trigger: 'blur' }
                ]"></el-input>
                </el-form-item>
                <el-form-item label="Groupes d'authentification" label-width="200px">
                    <el-select multiple v-model="addForm.authgroups" name="authgroups"
                               placeholder="Choisissez un groupe d'authorisation">
                        <el-option v-for="item in JSON.parse(this.authgroups)" :label="item" :value="item"
                                   :key="item"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Applications" label-width="200px">
                    <el-select multiple v-model="addForm.applications" name="applications"
                               placeholder="Choisissez une application">
                        <el-option v-for="item in JSON.parse(this.applications)" :label="item" :value="item"
                                   :key="item"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
    <el-button @click="addFormVisible = false">Annuler</el-button>
    <el-button type="primary" @click="addFormVisible = false">Confirmer</el-button>
  </span>
        </el-dialog>
        <el-dialog title="Modifier l'utilisateur" :visible.sync="editFormVisible">
            <el-form :model="editForm" :action="'access-rights/' + editForm.id" ref="editUserForm" method="post">
                <el-form-item label="Nom" :label-width="formLabelWidth">
                    <el-input v-model="editForm.name" autocomplete="off" name="name"></el-input>
                </el-form-item>
                <el-form-item label="Email"
                              :rules="[
                { required: true, message: 'Veuillez entrer l\'adresse e-mail', trigger: 'blur' },
                { type: 'email', message: 'Veuillez entrer une adresse e-mail valide', trigger: ['blur', 'change'] }
                ]" :label-width="formLabelWidth">
                    <el-input v-model="editForm.email" autocomplete="off" name="email"></el-input>
                </el-form-item>
                <el-form-item label="Id d'authentification" label-width="200px" :rules="[
                { required: true, message: 'Veuillez entrer l\'Id d\'authentification', trigger: 'blur' },
                { type: 'number', message: 'Veuillez entrer une entier qui n\'existe pas.', trigger: ['blur', 'change'] }
                ]">
                    <el-input v-model="editForm.sub" autocomplete="off" name="sub"></el-input>
                </el-form-item>
                <el-form-item label="Audience" :label-width="formLabelWidth">
                    <el-input v-model="editForm.audience_id" name="audience_id" autocomplete="off" :rules="[
                { required: true, message: 'Veuillez entrer l\'audience', trigger: 'blur' }
                ]"></el-input>
                </el-form-item>
                <el-form-item label="Groupes d'authentification" label-width="200px">
                    <el-select multiple v-model="editForm.authgroups" name="authgroups"
                               placeholder="Choisissez un groupe d'authorisation">
                        <el-option v-for="item in JSON.parse(this.authgroups)" :label="item" :value="item"
                                   :key="item"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Applications" label-width="200px">
                    <el-select multiple v-model="editForm.applications" name="applications"
                               placeholder="Choisissez une application">
                        <el-option v-for="item in JSON.parse(this.applications)" :label="item" :value="item"
                                   :key="item"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="submitEditForm('editUserForm')">Confirmer</el-button>
                <el-button @click="editFormVisible = false">Annuler</el-button>
            </span>
        </el-dialog>
        <el-dialog title="Supprimer l'utilisateur" :visible.sync="deleteFormVisible">
            <el-form :model="deleteForm">
                <el-form-item label="Nom de promotion" :label-width="formLabelWidth">
                    <el-input v-model="deleteForm.name" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="Zones" :label-width="formLabelWidth">
                    <el-select v-model="deleteForm.region" placeholder="Sélectionnez une zone">
                        <el-option label="Zone No.1" value="shanghai"></el-option>
                        <el-option label="Zone No.2" value="beijing"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="deleteFormVisible = false">Annuler</el-button>
                <el-button type="primary" @click="deleteFormVisible = false">Confirmer</el-button>
            </span>
        </el-dialog>
        <el-table
            height="600"
            border
            :data="tableData"
            style="width: 100%">
            <el-table-column
                fixed
                prop="id"
                label="Id"
                width="50">
            </el-table-column>
            <el-table-column
                prop="name"
                label="Nom"
                width="120">
            </el-table-column>
            <el-table-column
                prop="email"
                label="E-mail"
                width="200">
            </el-table-column>
            <el-table-column
                v-if="false"
                prop="admin"
                label="Administrateur"
                width="50">
                <template slot-scope="scope">
                    <span v-if="scope.row.is_admin">
                      <i class='fe fe-check-circle'></i>
                    </span>
                    <span v-else>
                         <i class='fe fe-slash'></i>
                    </span>
                </template>
            </el-table-column>
            <el-table-column
                v-if="false"
                prop="email_Verified"
                label="E-mail vérifié"
                width="200">
                <template slot-scope="scope">
                    <span v-if="scope.row.email_Verified">
                      <i class='fe fe-check-circle'></i>
                    </span>
                    <span v-else>
                         <i class='fe fe-slash'></i>
                    </span>
                </template>
            </el-table-column>
            <el-table-column
                prop="sub"
                label="Id d'authentification"
                width="200">
            </el-table-column>
            <el-table-column
                prop="authgroups"
                label="Groupes d'authentification"
                width="200">
                <template slot-scope="scope">
                    <span v-if="typeof scope.row.authgroups == 'object'">
                        <span v-for="item in scope.row.authgroups">
                        <el-tag  :key="item" type="primary">
                            {{ item }}
                        </el-tag> &nbsp;
                        </span>
                    </span>
                    <span v-else>
                          <el-tag type="primary">
                            {{ scope.row.authgroups }}
                        </el-tag> &nbsp;
                    </span>
                </template>
            </el-table-column>
            <el-table-column
                prop="applications"
                label="Applications"
                width="250">
                <template slot-scope="scope">
                    <span v-if="typeof scope.row.applications == 'object'">
                        <span v-for="item in scope.row.applications">
                        <el-tag :key="item" type="primary">
                            {{ item }}
                        </el-tag>&nbsp;
                        </span>
                    </span>
                    <span v-else>
                        <span v-for="item in scope.row.applications.split(',')">
                          <el-tag type="primary">
                            {{ item }}
                        </el-tag>&nbsp;
                        </span>
                    </span>
                </template>
            </el-table-column>
            <el-table-column
                prop="audience_id"
                label="Audience"
                width="250">
            </el-table-column>
            <el-table-column
                fixed="right"
                label="Opérations"
                width="250">
                <template slot-scope="scope">
                    <el-button @click="handleEdit(scope.$index, scope.row)" type="text" size="small">Modifier
                    </el-button>
                    <el-button v-if="scope.row.id !=1" @click="handleDelete(scope.$index, scope.row)" type="text"
                               size="small">Supprimer
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

    </div>
</template>

<script>
let token = document.head.querySelector('meta[name="csrf-token"]');
export default {
    props: ['users', 'authgroups', 'applications'],
    mounted() {
        this.editForm.authgroups = JSON.stringify(this.authgroups)
    },
    data() {
        return {
            csrf: token.content,
            tableData: JSON.parse(this.users),
            deleteFormVisible: false,
            editFormVisible: false,
            addFormVisible: false,
            addForm: {
                name: '',
                email: '',
                sub: '',
                audience_id: '',
                authgroups: '',
                applications: '',
            },
            editForm: {
                id: '',
                name: '',
                email: '',
                sub: '',
                audience_id: '',
                authgroups: '',
                applications: '',
            },
            deleteForm: {
                name: '',
                email: '',
                region: '',
                date1: '',
                date2: '',
                delivery: false,
                type: [],
                resource: '',
                desc: ''
            },
            formLabelWidth: '120px'
        }
    },
    methods: {
        submitEditForm(formName) {
            this.editFormVisible = false

            this.$refs[formName].validate((valid) => {
                if (valid) {
                    alert('submit!');
                    this.$refs.editUserForm.$el.submit()
                } else {
                    console.log('error submit!!');
                    return false;
                }
            });
        },
        handleEdit(index, row) {
            this.editFormVisible = true;
            this.editForm = row
            this.editForm.authgroups = typeof row.authgroups == "string" ? row.authgroups.split(',') : row.authgroups
            this.editForm.applications = typeof row.applications == "string" ? row.applications.split(',') : row.applications
        },
        handleDelete(index, row) {
            this.$confirm('Cette action est irréversible. Souhaitez vous continuer?', 'Warning', {
                confirmButtonText: 'Oui',
                cancelButtonText: 'Non, je ne souhaite pas poursuivre',
                type: 'warning'
            }).then(() => {
                window.axios.post('deleteUser', {
                    id: row.id
                })
                    .then((response) => {
                        this.editUserModal = false;
                        this.$message({
                            message: 'User Deleted with Success.',
                            type: 'success'
                        });

                        this.updateUsersList(this.$route.params.name_application);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: 'Delete canceled'
                });
            });

        },
    }
}
</script>

<style scoped>

</style>
